

<br /><br />

<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Specials</h3>
                    <ul>
                        <li> <a href="#"> Product 1</a> </li>
                        <li> <a href="#"> Product 1 </a> </li>
                        
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Services </h3>
                    <ul>
                        <li> <a href="#"> Services 1 </a> </li>
                        <li> <a href="#"> Services 2 </a> </li>

                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> About </h3>
                    <ul>
                        <li> <a href="#"> Our Company </a> </li>
                        <li> <a href="#"> About Us </a> </li>
                        <li> <a href="#"> Terms of Services </a> </li>
                        <li> <a href="#"> Our Team </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Contact </h3>
                    <ul>
                        <li> <a href="#"> Contact Us </a> </li>
                        <li> <a href="#"> Contact Sales </a> </li>
                        <li> <a href="#"> Contact HR </a> </li>
                        <li> <a href="#"> Contact Admin </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> login or register </h3>
                    <ul>
                        <li>
                            <div>
                                <%= link_to " Log in", new_author_session_path, class: "fa fa-user-plus btn-foot" %>
                            </div>
                        </li>
                        <br>
                        <li>
                             <div>
                                <%= link_to " Register", new_author_registration_path, class: "fa fa-user-plus btn-foot" %>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->

    <!--/.footer-bottom--> 
</footer>
